---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'Flybird 小郑 合作介绍 website',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: '联系我',
        href: '/tg',
        target: '_blank',
      },
      { text: '了解更多', href: '#features' },
    ]}
    image={{ src: '~/assets/images/person_logo.png', alt: 'AstroWind Hero Image',
             width: '700',
             height: '350', 
          }}
  >
    <Fragment slot="title">
      Flybird 小郑 个人商业介绍
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">Flybird 小郑.</span
      >
      <span class="block mb-1 sm:hidden font-bold text-blue-600">AstroWind: Production-ready.</span>
      致力于自媒体增长赋能、社群私域圈子、金融投资、账号购买、个人商业建站支持、项目变现等业务，欢迎各位老板进行商务合作，如有需求欢迎联系我.
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note title="理念:" description="极简、敏捷、高效、合作共赢" />

  <!-- Features2 Widget ************** -->

  <Features2
    id="features"
    title="业务板块"
    subtitle="详细描述了Flybird 小郑目前从事的商业版图"
    items={[
      {
        title: '海外自媒体创业陪跑',
        description: "多年深耕海外自媒体行业，youtube多年运营经验，长视频、shorts、直播均有多年运营经验，全程陪跑，从选题、内容剪辑、运营、过ypp、收款全程赋能助力你早日成功获取自媒体收入，月入5位数+不是梦.",
      },
      {
        title: '兴趣社群',
        description:
          "兴趣社群，包含了很多内容，比如说这个自媒体社群啊，金融投资社群，还有这个创业社群，还有这个私董会社群。这大家就在这个不同的这个社群里边儿啊，互相分享这个经验，提供问题和相关的解答，及时沟通交流帮助。让大家一起在这个相关的这个赛道上共同进步.",
      },
      {
        title: '投资交易',
        description:
          '投资交易这个版块儿包含了大陆支付宝基金投资，还有大陆A股投资，包括美股标的投资，以及加密货币相关的相关这个金融标的的一个投资。会实时的给大家更新当下最新的投资标的，走在赚钱最前沿，以及大家相互交流投资心得经验.',
      },
      {
        title: '账号购买',
        description:
          "支持海外国内各种AI大模型的购买和订阅，以及全网各种的社交账号以及工具账号的一个购买.",
      },
      {
        title: 'IT技术支持',
        description:
          '支持各种科技软件技术的问题解决，包括个人网站的搭建，公司商业网建的搭建，以及各种软件科技生活相关的这个技术解答答疑.',
      },
      {
        title: '个人付费咨询',
        description: '承接单独的付费咨询一对一业务啊，包含内容包括自由职业、海外金融投资、创业、男性成长、IT建站程序员儿、自媒体海外运营项目、网站账号购买等。<br><br>一对一咨询：¥499 / 半小时',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>
