---
import CallToAction from '~/components/widgets/CallToAction.astro';
import Content from '~/components/widgets/Content.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Hero from '~/components/widgets/Hero.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'QQ联系方式',
};
---

<Layout metadata={metadata}>

  <Content
    isReversed
    items={[
      {
        title: '120950827',
        description:
          '联系页只做承接，不做堆砌。普通交流先走Telegram，或Telegram交流群、深度沟通或长期合作再走微信，这样路径更清楚，也能减少重复沟通成本。<br><br>加我请备注来意，不闲聊.不经常看，优先建议通过telegram聊天合作',
        icon: 'tabler:wand',
      },
    ]}
    image={{
      src: '~/assets/images/qq.png',
      alt: 'Features Image',
      style: 'width: 200px; height: 200px;',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">私人QQ</h3>
    </Fragment>
  </Content>

</Layout>
